@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat:wght@300&display=swap');

:root {
    --primary-color: #242423 ;
    --secondary-color: #e8eddf;
    --tertiary-color: #f5cb5c;
    --alternate-color: #cfdbd5;
    --rgba-color: rgba(232, 237, 223, 0.2);
    --desktop-container: 86%;
    --mobile-container: 90%;
    --transition: all 0.3s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: 0;
    list-style: none;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    line-height: 1.75;
    background-color: var(--primary-color);
}

.container {
    margin: 0 auto;
    width: var(--desktop-container);
}

img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
}

a {
    color: var(--secondary-color);
    transition: var(--transition);
    font-family: 'Montserrat', sans-serif;
}

a:hover {
    color: var(--tertiary-color);
}

h1, h2, h3, h4, p {
    color: var(--secondary-color);
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
}

section {
    padding: 6rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 4rem;
    font-family: 'Montserrat', sans-serif;
}

h3, h4, p, small {
    font-family: 'Manrope', sans-serif;
}

#navbar2, #menu-btn {
    display: none;
}

html, body {
    width: auto!important; overflow-x: hidden!important
} 

.btn {
    padding: 5px 20px;
    background-color: transparent;
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);    
    cursor: pointer;
    transition: var(--transition);
    text-transform: capitalize; 
}

/* END OF GENERAL STYLING */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    width: 100%;
    padding: 0.5rem 1rem;
}

#navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.logo {
    font-size: 1.5rem;
}
/* END OF HEADER STYLING */

section[class="hero"] {
    min-height: 100vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: var(--secondary-color);
    display: grid;
    place-items: end center;
}

.hero {
    background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('images/pexels-jonathan-borba-2983101.jpg');
  
    @supports (background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('images/pexels-jonathan-borba-2983101.avif')) {
      background-image:  linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url('images/pexels-jonathan-borba-2983101.avif');
    }
} /* css fallbacks for background image */

article[class="banner"] {
    padding: 1rem 0;
}

.banner button svg {
    height: 1em;
    width: 1em;
    top: .25em;
    position: relative;
}

.banner h1 {
    text-transform: capitalize;
}

.banner button {
    font-size: large;
    margin-top: 1rem;
}

.banner p {
    text-align: left;
}
/* END OF HOME STYLING */

section[id="menu"] .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

figcaption, small {
    color: var(--secondary-color);
}

s {
    text-decoration: line-through;
}

.details {
    display: flex;
    gap: 1rem;
}

.menu-items {
    padding: 1rem;
}

.menu-items figcaption {
    padding-top: 0.5rem;
}
/* END OF MENU SECTION */

section[id="drinks"] .container {
    max-width: 500px;
    
}
.item p {
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
  
.flavor {
    text-align: left;
    width: 75%;
}
  
.price {
    text-align: right;
    width: 25%;
} 